{% extends 'info.html' %}

{% block title %}
Добавить
{% endblock %}

{% block body %}
<div class="text-center"   class="container">
    <h2>Добавление нецветущего растения</h2>
    <form method="post">
        <input type="text" name="title" id="title" class="container form-control" placeholder="Введите название"><br>
        <textarea name="text" id="text" class="container form-control" placeholder="Введите описание"></textarea><br>
        <br><br>
        <input type="submit" class="btn btn-danger" value="Отправить">
    </form>
</div>
{% endblock %}